<h2>API</h2>

<article>
  <pre>
    POST /data

      data: text (raw SML)
      application: string (optional)
      author: string (optional)
  </pre>
</article>

<h2>How To Upload</h2>

Directly with curl:

<pre>   curl -d"data=<sml>...</sml>" "http://<%= request.host_with_port %>/data.xml"</pre>

From a file named <b>example.sml</b>:

<pre>   curl --form data=@example.sml "http://<%= request.host_with_port %>/data.xml"</pre>

<h2>Data</h2>

<ul>
<% if @scratches.blank? -%>
  <li>Nothing to see here</li>
<% end -%>

<% @scratches.each do |scratch| -%>
  <li>#<%= scratch.id %>
    &mdash; uploaded <%= time_ago_in_words(scratch.created_at).gsub('about ', '') %> ago
    &mdash;
      <%= link_to 'Download', scratch_path(scratch, :format => 'xml') %>
  </li>
<% end -%>
</ul>

