<p style="text-align: center;">
  <em>BETA: just raw SML dumps for now. Visualizations coming soon.
  <br />To add data use the <%= link_to 'upload API', '/api' %></em></p>

<ul id="scratches">
<% if @scratches.blank? -%>
  <li>Nothing to see here</li>
<% end -%>

<% @scratches.each do |scratch| -%>
  <li class="scratch">

    <div class="id">#<%= scratch.id %></div>

    <a href="<%= scratch_path(scratch) %>">
      <div class="thumbnail"><img src="<%= scratch.thumbnail_path %>" alt="" /></div>
      <!-- <div class="waveform"><img src="<%= scratch.waveform_path %>" alt="" /></div> -->
    </a>

    <div class="download"><%= link_to 'Download', scratch_path(scratch, :format => 'xml') %></div>
    <div class="created_at"><%= time_ago_in_words(scratch.created_at).gsub('about ', '') %> ago</div>

  </li>
<% end -%>
</ul>

<div class="clear"></div>

